<div class="new_article">
	<h1>new #siattip</h1>
	<%= form_for :article, url: articles_path do |f| %>
	  <p>Title</p>	
	  <%= f.text_field :title %>
	  <p>Text</p>	
	  <%= f.text_area :text %>
	  <p>Link</p>	
	  <%= f.text_field :link %>
	  <p>Image</p>	
	  <%= f.text_field :thumb_url %>
	  <p>Category</p>	
	  <%= f.text_field :category_id %>
	  <%= f.submit %>
	<% end %>
</div>


