
<div class="detail-article col-xs-8">
	<div class="detail-article-content">
		<h1><%= title %></h1>
		<div class="detail-date-ranking-part">
			<div class="date col-xs-5"><%= created_at %></div>
			<div class="ranking col-xs-5"></div>
		</div>

		<br>

		<a href="<%= link %>" class="link">Link</a>
		<img src="<%= thumb_url %>" class="image" />
		<p class="text"><%= text %></p>

		<div class="rate">
			<h4>How helpful did you find this resource?</h4>
			<div class="ranking"></div>
		</div>
	</div>	
</div>

<div class="other-posts col-xs-4">
	<div class="other-posts-content">
		<h3>Other Posts You Might Be Interested In</h3>
	</div>
</div>

