
<div class="detail-article col-sm-8 col-xs-12">
	<div class="detail-article-content">
		<h1><%= title %></h1>
		<div class="detail-date-ranking-part">
			<div class="date"><%= I18n.l("date.formats.long", created_at) %></div>
			<div class="ranking"></div>
		</div>

		<br>

		<a href="<%= link %>" class="link col-xs-12" target="_blank"><%= link %></a>
		<img src="<%= thumb_url %>" class="image" />
		<div class="text"><%= text %></div>

		<div class="rate">
			<h4>How helpful did you find this resource?</h4>
			<div class="ranking"></div>
		</div>
	</div>	
</div>

<div class="other-posts col-sm-4 col-xs-12">
	<div class="other-posts-content">
		<h3>Other Posts You Might Be Interested In</h3>
	</div>
</div>

