<div class="article-content">
	<div class="row">
		<div class="col-xs-6">
			<h2><a href="#articles/<%= id %>"><%- title %></a></h2>
			<div class="text"><%= text %></div>
			<a href="<%= link %>" class="link" target="_blank"><%= link %></a>
		</div>
		<div class="col-xs-6">
			<a href="#articles/<%= id %>"><div class="featured-image" style='background-image: url("<%= thumb_url %>")' ></div></a>
		</div>
	</div>
</div>