<div class="article-content">
	<div class="row">
		<div class="col-xs-6">
			<h2><a href="#articles/<%= id %>"><%- title %></a></h2>
			<p class="text"><%- text %></p>
			<a href="<%= link %>" class="link" target="_blank"><%= link %></a>
		</div>
		<div class="col-xs-6">
			<a href="#articles/<%= id %>"><img src="<%= thumb_url %>" class="image" /></a>
		</div>
	</div>
</div>