<div class="article-content">
	<h2><%- title %></h2>
	<a href="<%= link %>" class="link">Link</a>
	<img src="<%= thumb_url %>" class="image" />
	<p class="text"><%- text %></p>
	<div class="date-ranking-part">
		<div class="date col-xs-5"><%= created_at %></div>
		<div class="ranking col-xs-5"></div>
	</div>
</div>


